body {
    background-color: #99B433;
}

#thumnail {
    max-width: 300px;
    max-height: 400px;
}

#top {
    background-color: #9f00a7;
    color: #FFC40D;
}

#hello {
    color: rgb(245, 231, 32);
}

.hoso {
    width: 200px;
    height: 200px;
}

#card {
    width: 230px;
    text-align: center;
}

.carousel-item img {
    height: 300px;
    width: 1200px;
}